:root {
    --vermelho-desaturado: #ce9797;
    --vermelho-suave: #f96262;
    --branco-bg: #fff7f8;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--branco-bg)
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
}

.gabi-logo {
    top: 4vw;
    position: absolute;
    width: 180px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.card-textos {
    padding: 10vw;
    margin: auto;
}

.card-titulo {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 38px;
    margin: 4vw;
}

.card-descricao {
    font-size: 18px;
    color: var(--vermelho-desaturado);
    margin: 4vw;
}

.local-email {
    margin: 5vw;
    position: relative;
    width: 300px;
}

.input {
    width: 100%;
    border: 1px solid #dacacd;
    border-radius: 100px;
    padding: 12px 100px 12px 20px;
    line-height: 2;
    box-sizing: border-box;
    outline: none;
}

.botao {
    cursor: pointer;
    width: 80px;
    height: 53px;
    position: absolute;
    right: 1px;
    border: 0;
    background-image: linear-gradient(to right, #e7bbbb, #f96262);
    color: var(--branco-bg);
    font-weight: 700;
    font-size: 20px;
    outline: none;
    margin: 0;
    padding: 0 20px;
    border-radius: 100px;
    z-index: 2;
}

.card-imagem {
    margin: 1vw;
    position: initial;
}