:root {
    --branco-bg: #fff7f8;
    --vermelho-desaturado: #ce9797;
    --vermelho-suave: #f96262;
}

body {
    background-color: var(--branco-bg);
    font-family: 'Josefin Sans', sans-serif;
}

* {
    border: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gabi-logo {
    height: 60px;
    width: 90px;
}

.imagem-desktop {
    display: none;
}

.imagem-mobile {
    height: 100%;
    width: 100%;
}

.card-textos {
    height: 100%;
    width: 100%;
}

.palavraPagina {
    color: var(--vermelho-desaturado);
}

.card-titulo {
    font-size: 23px;
    letter-spacing: 12px;
    margin: 15vw 5vw 5vw 3vw;
    text-align: center;
    text-transform: uppercase;
}

.card-descricao {
    color: var(--vermelho-desaturado);
    font-size: 12px;
    margin: 5vw 5vw 10vw 3vw;
    padding: 0 1vw 0 1vw;
    text-align: center;
}

.local-email {
    margin: 3vw;
    position: relative;
    width: 90%;
}

.input {
    border: 2px solid #dacacd;
    border-radius: 100px;
    box-sizing: border-box;
    line-height: 2;
    outline: none;
    padding: 12px 100px 12px 20px;
    width: 100%;
}

.input::placeholder {
    color: var(--vermelho-desaturado);
  }

.botao {
    background-image: linear-gradient(to right, #e7bbbb, #f96262);
    border: 0;
    border-radius: 100px;
    color: var(--branco-bg);
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    height: 53px;
    margin: 0;
    outline: none;
    padding: 0 20px;
    position: absolute;
    right: 1px;
    width: 80px;
    z-index: 2;
}

.botao:hover {
    background-image: linear-gradient(to right, #f96262, #e7bbbb);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.40);
    font-size: 25px;
    transition: 1s;
}

@media screen and (min-width: 768px) {
    .gabi-logo {
        height: 80px;
        position: absolute;
        right: 610px;
        top: 1vw;
        width: 100px;
    }

    .card {
        display: flex;
        flex-direction: row-reverse;
        height: 100%;
        width: 100%;
    }

    .card-titulo {
        font-size: 25px;
        letter-spacing: 10px;
        margin: 13vw 5vw 5vw 10vw;
        text-align: justify;
    }
    
    .card-descricao {
        font-size: 17px;
        margin: 5vw 10vw 4vw 9vw;
        text-align: justify;
    }

    .imagem-mobile {
        display: none;
    }

    .imagem-desktop {
        display: block;
        height: 100%;
        width: 100%;
    }

    .local-email {
        margin: 0 10vw 0 10vw;
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .gabi-logo {
        height: 120px;
        right: 790px;
        width: 490px;
    }

    .local-email {
        margin-bottom: 5vw;
        width: 450px;
    }

    .card-titulo {
        font-size: 40px;
    }

    .card-descricao {
        font-size: 25px;
    }

    .imagem-desktop {
        width: 118%;
    }
}

@media screen and (min-width: 1440px) {
    .gabi-logo {
        height: 150px;
        right: 1320px;
        width: 180px;
    }

    .card-titulo {
        font-size: 45px;
        letter-spacing: 13px;
        margin: 12vw 5vw 5vw 15vw;
    }

    .card-descricao {
        font-size: 30px;
        margin: 5vw 10vw 5vw 14vw;
    }

    .local-email {
        margin: 0 10vw 5vw 15vw;
        width: 630px;
    }
}